.checkout {
  display: flex;
  padding: 20px;
  height: max-content;
  background-color: white;
}

.checkout-title {
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.checkout-left {
  flex: 8;
}

.checkout-right {
  flex: 1;
}